@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopEngine.Frontend.Areas.Account.Models.TicketViewModel

@section scripts
{
    <script type="text/javascript">
    </script>
}

<div>
</div>
