@model ShopEngine.Frontend.Models.Layout.CategoriesMenuViewModel

@{
    var grouped = Model.Items.Select((value, index) => new { num = index / 4, value }).GroupBy(x => x.num);
}
@foreach (var group in grouped)
{
    <div class="row">
        @foreach (var item in group)
        {
            <div class="col-sm-3">
                <a class="d-block navi-link text-center mb-30" href="@item.value.Link">
                    <img class="d-block" src="@item.value.Image">
                    <span class="text-gray-dark">@item.value.Title</span>
                </a>
            </div>
        }
    </div>
}