@model ShopEngine.Frontend.Models.Layout.FooterViewModel

<!-- Site Footer-->
<footer class="site-footer" style="background-image: url(img/footer-bg.png);">
    <div class="container">
        <div class="row">
            @foreach (var group in new ShopEngine.Frontend.Models.Layout.FooterLinksGroup[] { Model.LinkGroup1, Model.LinkGroup2, Model.LinkGroup3 })
            {
                <div class="col-lg-4 col-md-4">
                    <section class="widget widget-links widget-light-skin">
                        <h3 class="widget-title">@Model.LinkGroup1.Title</h3>
                        <ul>
                            @foreach (var link in group.Links)
                            {
                                <li><a href="@link.Link">@link.Text</a></li>
                            }
                        </ul>
                    </section>
                </div>
            }
        </div>
        <!-- Copyright-->
        <p class="footer-copyright">© All rights reserved.</p>
    </div>
</footer>
