@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ShopEngine.Frontend.Areas.Shopping.Models.Cart.CartViewModel

@section scripts
{
   <script type="text/javascript">
        app.Pages.init('Cart');
   </script>
}

<div id="cartPage">
    @Html.Partial("Sitemap", Model)
    <!-- Page Content-->
    <div class="container padding-bottom-3x mb-1">
        <ui-cart></ui-cart>
        <div class="container padding-bottom-3x mb-1">
            <!-- Related Products Carousel-->
            <h3 class="text-center padding-top-2x mt-2 padding-bottom-1x">You May Also Like</h3>
            <!-- Carousel-->
            <div class="row">
                <div class="col-lg-2 col-md-4 col-sm-6" v-for="item in relatedProducts">
                    <ui-product-item v-bind:init-data="item"></ui-product-item>
                </div>
            </div>
        </div>
    </div>
</div>
