<div>
    <div class="widget" v-for="categoryFilter in categoryOptions">
        <h3 class="widget-title">{{categoryFilter.categoryName}}</h3>
        <div class="custom-control custom-checkbox" v-for="option in categoryFilter.options">
            <input class="custom-control-input" type="checkbox" v-on:change="optionChanged()" v-model="option.checked" v-bind:id="getHtmlId(categoryFilter.categoryId, option.id)">
            <label class="custom-control-label" v-bind:for="getHtmlId(categoryFilter.categoryId, option.id)">
                {{option.name}}&nbsp;
                <span class="text-muted">({{option.count}})</span>
            </label>
        </div>
    </div>
</div>