<div class="widget widget-categories">
    <h3 class="widget-title">Price Range</h3>
    <div class="price-range-slider">
        <div class="rangeSlider"></div>
        <footer class="ui-range-slider-footer">
            <div class="column">
                <button class="btn btn-outline-primary btn-sm" type="submit">Filter</button>
            </div>
            <div class="column">
                <div class="ui-range-values">
                    <div class="ui-range-value-min">
                        $<span>{{rangeFrom}}</span>
                    </div>&nbsp;-&nbsp;
                    <div class="ui-range-value-max">
                        $<span>{{rangeTo}}</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>