<div class="toolbar d-flex">
    <div class="toolbar-item visible-on-mobile mobile-menu-toggle">
        <a href="#">
            <div><i class="icon-menu"></i><span class="text-label">Menu</span></div>
        </a>
    </div>
    <div class="toolbar-item hidden-on-mobile">
        <a href="#">
            <div>
                <i class="flag-icon">
                    <img v-bind:src="'/img/flags/' + currentLanguage.code + '.png'" v-bind:alt="currentLanguage.title">
                </i>
                <span class="text-label">
                    <span>{{currentLanguage.code}}</span> / <span>{{currentCurrency.code}}</span>
                </span>
            </div>
        </a>
        <ul class="toolbar-dropdown lang-dropdown">
            <li class="px-3 pt-1 pb-2">
                <select class="form-control form-control-sm"  v-model="currentCurrency.code" v-on:change="onSetCurrency()">
                    <option v-for="currency in currencies" v-bind:value="currency.code">{{ currency.title }}</option>
                </select>
            </li>
          
            <li v-for="language in languages">
                <a href="#" v-on:click="onSetLanguage(language.code)">
                    <i class="flag-icon"><img v-bind:src="'/img/flags/' + language.code + '.png'" v-bind:alt="language.title"></i>
                &nbsp;{{language.title}}</a>
            </li>
           
        </ul>
    </div>
    <div class="toolbar-item hidden-on-mobile">
        <a href="product-comparison.html">
            <div><span class="compare-icon"><i class="icon-repeat"></i><span class="count-label">{{comparedItemsCount}}</span></span><span class="text-label">Compare</span></div>
        </a>
    </div>
    <div class="toolbar-item hidden-on-mobile">
        <a href="account-login.html">
            <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div>
        </a>
        <div class="toolbar-dropdown text-center px-3">
            <p class="text-xs mb-3 pt-2">Sign in to your account or register new one to have full control over your orders, receive bonuses and more.</p><a class="btn btn-primary btn-sm btn-block" href="account-login.html">Sign In</a>
            <p class="text-xs text-muted mb-2">New customer?&nbsp;<a href="account-login.html">Register</a></p>
        </div>
    </div>
    <div class="toolbar-item">
        <a href="cart.html">
            <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label">{{cart.cartItems.length}}</span></span><span class="text-label">Cart</span></div>
        </a>
        <div class="toolbar-dropdown cart-dropdown widget-cart hidden-on-mobile">
            <!-- Entry-->
            <div class="entry" v-for="item in cart.cartItems">
                <div class="entry-thumb"><a href="shop-single.html"><img v-bind:src="'img/' + item.product.thumb" v-bind:alt="item.product.title"></a></div>
                <div class="entry-content">
                    <h4 class="entry-title"><a href="shop-single.html">{{item.product.title}}</a></h4><span class="entry-meta">{{item.productsCount}} x {{item.product.priceStr}}</span>
                </div>
                <div class="entry-delete"><i v-on:click="onRemoveCartItem(item)" class="icon-x"></i></div>
            </div>
            <div class="text-right">
                <p class="text-gray-dark py-2 mb-0"><span class='text-muted'>Subtotal:</span> &nbsp;{{cart.subtotalStr}} </p>
            </div>
            <div class="d-flex">
                <div class="pr-2 w-50"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">Expand Cart</a></div>
                <div class="pl-2 w-50"><a class="btn btn-primary btn-sm btn-block mb-0" href="checkout.html">Checkout</a></div>
            </div>
        </div>
    </div>
    
</div>