<div>
    <!-- Shop Toolbar-->
    <div class="shop-toolbar padding-bottom-1x mb-2">
        <div class="column">
            <div class="shop-sorting">
                <label for="sorting">Sort by:</label>
                <select class="form-control" id="sorting">
                    <option>Popularity</option>
                    <option>Low - High Price</option>
                    <option>High - Low Price</option>
                    <option>Average Rating</option>
                    <option>A - Z Order</option>
                    <option>Z - A Order</option>
                </select><span class="text-muted">Showing:&nbsp;</span><span>1 - 12 items</span>
            </div>
        </div>
        <div class="column">
            <div class="shop-view">
            <a class="grid-view active" href="shop-grid-ls.html">
                <span></span>
                <span></span>
                <span></span></a>
            <a class="list-view" href="shop-list-ls.html"><span></span><span></span><span></span></a></div>
        </div>
    </div>
    <!-- Products Grid-->
    <div class="row">
        <div class="col-md-4 col-sm-6" v-for="item in productItems">
            <ui-product-item v-bind:init-data="item"></ui-product-item>
        </div>
    </div>
    <!-- Pagination-->
    <nav class="pagination-wrapper">
        <div class="pagination-column">
            <ui-pagination v-bind:init-data="pagination" v-bind:onReady="paginationReady"></ui-pagination>
        </div>
    </nav>
</div>