<div class="categories-menu categoriesMenu">
    <div class="row">
        <div class="col-md-4">
            <ul class="topItemsList">
                
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 itemsColumn itemsColumn1">
                    <ul>
                        <li><a><strong>Смартфоны</strong></a></li>
                        <li><a>Смартфоны</a></li>
                    </ul>
                </div>
                <div class="col-md-4 itemsColumn itemsColumn2">
                    <ul>
                    </ul>
                </div>
                <div class="col-md-4 itemsColumn itemsColumn3">
                    <ul>
                    </ul>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>