<div id="categoriesMenu" class="categories-menu">
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li><span class="icon-left"><i class="fas fa-mobile-alt"></i></span> <a>Смартфоны</a> <i class="nav fas fa-chevron-right"></i></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">
                    <ul>
                        <li><a><strong>Смартфоны</strong></a></li>
                        <li><a>Смартфоны</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul>
                    </ul>
                    <ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>